<h2> Welcome! </h2>

<p>We show totally accurate lists of continents and countries!!</p>

<section>

  <form action="/" method="POST">

    <label for=name>name</label>
    <input type=text id=name name=name>

    <label for=message>message</label>
    <input type=text id=message name=message>

    <input type=submit value='add message'>

  </form>


</section>



